<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>tpfinal2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>Main.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>Main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VehiculoServlet</display-name>
    <servlet-name>VehiculoServlet</servlet-name>
    <servlet-class>src/tpfinal2.VehiculoController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>VentaServlet</display-name>
    <servlet-name>VentaServlet</servlet-name>
    <servlet-class>src/tpfinal2.VentaServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>VehiculoBuscarServlet</display-name>
    <servlet-name>VehiculoBuscarServlet</servlet-name>
    <servlet-class>src/tpfinal2.VehiculoBuscarServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>VehiculoEliminarServlet</display-name>
    <servlet-name>VehiculoEliminarServlet</servlet-name>
    <servlet-class>src/tpfinal2.VehiculoEliminarServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>VehiculoImpuestoServlet</display-name>
    <servlet-name>VehiculoImpuestoServlet</servlet-name>
    <servlet-class>src/tpfinal2.VehiculoImpuestoServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>VehiculoEfectuarVenta</display-name>
    <servlet-name>VehiculoEfectuarVenta</servlet-name>
    <servlet-class>src/tpfinal2.VehiculoEfectuarVenta</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>VentaEliminarServlet</display-name>
    <servlet-name>VentaEliminarServlet</servlet-name>
    <servlet-class>src/tpfinal2.VentaEliminarServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>VehiculoModificarServlet</display-name>
    <servlet-name>VehiculoModificarServlet</servlet-name>
    <servlet-class>src/tpfinal2.VehiculoModificarServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>VentaModificarServlet</display-name>
    <servlet-name>VentaModificarServlet</servlet-name>
    <servlet-class>src/tpfinal2.VentaModificarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehiculoServlet</servlet-name>
    <url-pattern>/tpfinal2/VehiculoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VentaServlet</servlet-name>
    <url-pattern>/tpfinal2/NuevaVenta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VehiculoBuscarServlet</servlet-name>
    <url-pattern>/tpfinal2/BuscarVehiculo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VehiculoEliminarServlet</servlet-name>
    <url-pattern>/tpfinal2/EliminarVehiculo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VehiculoImpuestoServlet</servlet-name>
    <url-pattern>/tpfinal2/ImpuestoVehiculo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VehiculoEfectuarVenta</servlet-name>
    <url-pattern>/tpfinal2/EfectuarVenta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VentaEliminarServlet</servlet-name>
    <url-pattern>/tpfinal2/VentaEliminar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VehiculoModificarServlet</servlet-name>
    <url-pattern>/tpfinal2/VehiculoModificar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VentaModificarServlet</servlet-name>
    <url-pattern>/tpfinal2/VentaModificar</url-pattern>
  </servlet-mapping>
</web-app>